<script id="layout" type="text/x-handlebars-template">
  <div class="container">
    <h1>Shortly</h1>
  </div>
  <div class="navigation container">
  <ul class="nav-list">
    <li class="nav-list-item"><a href="#" class="nav-link index">All Links</a></li>
    <li class="nav-list-item"><a href="#" class="nav-link create">Shorten</a></li>
    <li class="nav-list-item logout"><a href="/logout" class="nav-link">Log Out</a></li>
  </ul>
  </div>
  <div id="content" class="container"></div>
</script>


<script id="link" type="text/x-handlebars-template">
  <div class="link-img fa fa-star"></div>
  <div class="info">
    <h2 class="title">{{title}}</h2>
    <div class="original">{{url}}</div>
    <a href="{{base_url}}/{{code}}">{{base_url}}/{{code}}</a>
  </div>
  <div class="visits">
    <p class="count">{{visits}}</p>
    <p class="count-label">Visits</p>
  </div>
</script>


<script id="create" type="text/x-handlebars-template">
  <form>
      <input class="text" type="text" name="url">
      <input type="submit" value="Shorten">
  </form>
  <img class="spinner" src="/ajax-loader.gif">
  <div class="message"></div>
</script>

<script>
  $(function(){
    new Shortly();
  });

  window.Templates = {};
  $('[type="text/x-handlebars-template"]').each(function(index, div){
    Templates[div.id] = Handlebars.compile(div.innerHTML);
  });
</script>

<script src="/client/app.js"></script>
<script src="/client/link.js"></script>
<script src="/client/links.js"></script>
<script src="/client/linkView.js"></script>
<script src="/client/linksView.js"></script>
<script src="/client/createLinkView.js"></script>
<script src="/client/createLoginView.js"></script>
<script src="/client/router.js"></script>

