<div class="container">
  <div class="box">
    <h2>Login to Shortly</h2>
    <form action="/login" method="post">
        <div class="row">
          <label for="username">Username:</label>
          <input id="username" type="text" name="username">
        </div>
        <div class="row">
          <label for="password">Password:</label>
          <input id="password" type="password" name="password">
        </div>
        <input type="submit" value="Login">
    </form>
    <p>
      <a href="/signup">Create your free account today! &rarr;</a>
    <p>
  </div>
</div>
