body {
  margin: 0;
  font-weight: 300;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #DFDFD5;
}

a {
  color: #37BAA8;
  text-decoration: none;
}

h1 {
  font-weight: 300;
  font-size: 2.5em;
  margin: 0.5em 0;
}

h2 {
  margin: 0;
}

.text-center {
  text-align: center;
}

.container {
  width: 80%;
  max-width: 850px;
  margin: 0 auto;
}

.box {
  width: 400px;
  padding: 2em;
  margin: 4em auto;
  background: #fff;
  box-shadow: 1px 1px 6px #b1b1b1;
  border-radius: 10px;
}

.navigation {
  width: 100%;
  background: #37BAA8;
  border-radius: 4px;
}

.nav-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.nav-list-item {
  float: left;
}

.nav-list-item:first-child a {
  border-radius: 4px 0 0 4px;
}
.nav-list-item:last-child a {
  border-radius: 0 4px 4px 0;
}

.logout {
  float: right;
}

.nav-link {
  color: #fff;
  width: 100px;
  line-height: 20px;
  font-weight: 400;
  padding: 1em;
  display: block;
  text-align: center;
  text-shadow: -1px -1px 2px #329486;
}

.nav-link:hover, .selected:hover {
  background: #7DE8DA;
}

.selected {
  background: #5AD5C4;
}

.link {
  cursor: pointer;
  overflow: hidden;
  padding: 1em;
}

.link:hover, .link:nth-of-type(even):hover {
  background: #FFFFF5;
}

.link:nth-of-type(even) {
  background: #E8E8DC;
}

.link-img {
  float: left;
  font-size: 2em;
  color: #37BAA8;
  margin: 0.5em 0.8em 0 0;
}

.info {
  float: left;
}

.visits {
  text-align: center;
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.count {
  font-size: 3em;
  margin: 0;
}

.count-label {
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 0;
}

.title {
  font-weight: 400;
}

.original {
  color: #aaa;
}

form {
  padding: 1em 0;
  float: left;
}

input {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: 1em;
  margin: 1em 0;
  border-radius: 4px;
}

input[type="text"], #password {
  width: 360px;
  padding: 0.5em;
  margin: 0 0.5em 0 0;
  border: 1px solid #C8C8C8;
  /*box-shadow: -1px -1px 2px #B1B1B1;*/
}

input[type="submit"] {
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: 300;
  padding: 0.5em 1em;
  background: #37BAA8;
  text-shadow: -1px -1px 2px #329486;
  /*box-shadow: 1px 1px 2px #329486;*/
}

input[type="submit"]:hover {
  opacity: 0.8;
}

label {
  line-height: 2em;
}

.row {
  margin: 1em 0;
}

.error {
  background-color: #fee;
  color: #a33;
  padding: 10px;
  border-radius: 4px;
}

.spinner {
  display: none;
  float: left;
  margin: 1.8em 0 0 1em;
}

.creator .message {
  clear: both;
}
